.title h3 {
    color: #E5E5E5;
    font-size: 24px;
    margin-top: 0;
  }

/* Responsive Design */
@media (max-width: 768px) {
  .title h3 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .title h3 {
    font-size: 18px;
  }
}